*{
    position: relative;
    font-family: 'Merriweather', serif;
    text-transform: capitalize;
    box-sizing: border-box;
    letter-spacing: 1.8px;
}
body{
    margin: 0;
    background-color: rgb(240, 240, 240);
}
.nav{ 
    position: sticky;
    top: 0;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: nav;
    box-shadow: black 0px 0px 4px;
    /* border-bottom: black 0.10px solid; */
    font-weight: 500;
    font-size: 20px;
    z-index: 1000;
    opacity: .85;
}
.logo{
    display: flex;
    cursor: pointer;
}
#logo{
    margin-top: 8px;
    width: 40px;
    height: 45px;
    margin-right: 5px;
    mix-blend-mode: multiply;
}
.logo:hover{
    animation-name: logo;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
}
@keyframes logo {
    50%{
        transform: scale(1.3) rotate(360deg);
    }
    100%{
        transform: rotate(0deg) scale(1);    
    }
    
}
#ul{
    list-style: none;
    display: flex;
}
#ul li {
    margin-right: 30px;
    color: rgb(172, 172, 172);
    transition: border-bottom .25s;
    transform-origin: left bottom;
    cursor: pointer;
    position: relative;
    transition-delay: .25s;
    transition-timing-function:linear;
}
#ul li:hover,#ul li a:hover{
    color: #d84315 !important; 
}
#ul li::after{
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #d84315;
    left: 0;

    transition: width .60s;
}
#ul li:hover:after {
    width: 100%;
}
#ul li a{
    color: rgb(172, 172, 172);
}
.main{
    border-radius: 16px;
    background-color: white;
    box-shadow: white 0px 0px 2.5px;
    margin: 100px auto;
    width: 250px;
    overflow: hidden;
    text-align: center;
    padding: 8px;
}
.con{
    padding: 8px;
    background-color: white;
    width: 500px ;
    display: flex;
    justify-content: space-between;
}
.log{
    width: 250px;
}
#logo1{
    width: 80px;
    height: 80px;
    mix-blend-mode: multiply;
    margin-bottom: 30px;
    transition-duration: .3s;
    transition-property: transform;
}
#logo1:hover{
    transform: scale(1.1);
}
#but{
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    
}
#but::after{
    position: absolute;
    bottom: -8px;
    z-index: 5;
    left: 0;
    width: 0;
    background-color: #d84315;
    content: "";
    height: 2px;
    transition-duration: .8s;
    transition-property: width;

}
a:link{
    text-decoration: none;
}
#but:hover:after{
    width: 100%;

}
/* #but:hover{
    color: green;
} */
#but:focus + .con .log {
    transform: translate(-100%,0px);
}
#in:focus ~ .con .log{
    transform: translate(-100%,0px);
}
.con .log{
    transition-duration: .6s;
    transition-property: transform;
}
input{
    
    border: none;
    outline: none;
    border-radius: 12px;
    margin-left: 5px;
    margin-bottom: 10px;
    padding: 4px;
    border-bottom: grey 2px solid;
}
input:focus{
    color: black;
    transform: scale(1.05);
    font-weight: 700;
    border-bottom: black 3px solid;
}
input:hover{
    transform: scale(1.05);
}
#login{
    cursor: pointer;
    padding: 4px;
    width: 75%;
    border-radius: 12px ;
    margin-top: 20px;
    border: black solid 3px;
    background-color: white;
    color: black;
    font-weight: 600;
    background-image: linear-gradient(
45deg
, black, #131418,#212121);
    color: white;
}
#login::after{
    content: "thanks, continue shopping";
    position: absolute;
    bottom: -50px;
    left: 0px;
    width: fit-content;
    height: fit-content;
    visibility: hidden;
    font-size: 12px;
    color: black;
}
#login:focus:after{
    visibility: visible;
}
#i{
    color: #d84315;
}
.fot{
    background-color: rgb(22, 22, 22);
    color: grey;
    text-align: center;
    padding: 12px;
}
.fot span{
    color: white;
    font-size: 22px;
}



