.con h3::after{
position: absolute;
content: "";
background-color: rgb(2, 2, 2);
width: 30px;
height: 30px;
left: 90px;
bottom: -35px;
border-radius: 50%;
box-shadow: black 0px 0px 1.5px;
}
.con h3::before{
position: absolute;
content: "";
background-color: #f9af86;
box-shadow: black 0px 0px 1.5px;
width: 30px;
height: 30px;
left: 145px;
bottom: -35px;
border-radius: 50%;
}